* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --blue: rgb(56, 56, 201);
    --historyBtn: rgb(112, 112, 185);
}

.header {
    background-color: var(--blue);
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.custom-div {
    flex-direction: column;
    align-items: space-between;

}

.custom-div h1 {
    font-weight: bold;
}

.custom-input {
   border: 1px solid black;
   border-radius: 9px;
   margin: 8px 0 0 0;
   width: 80%;
}

.custom-button {
    width: 80%;
    margin: 8px 0 0 0;
    background-color: var(--blue);
}

.custom-separator {
    border: 2px solid black;
    margin: 10px 0 0 0;
    width:80%;
    left: 15px;
}

.historyBtn {
    background-color: var(--historyBtn);
}

.items {
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.list {
    list-style-type: none;
}

.generatedInfo {

    padding: 10px 80px 10px 80px;
    border: 3px solid rgb(56, 56, 201);
    border-radius: 5px;
}

.uv {
    background-color: green;
    padding: 4px 6px 4px 6px;
    border-radius: 10px;
}